html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
    
}


ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: ' ';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ..................... Start of new designer defined styles ........................................ */
@font-face {
    font-family: SketchRockwell-Bold;
    src: url(../fonts/SketchRockwell-Bold.ttf) format(truetype);
}

body,html {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family:verdana;
   

    color: #FFF;

    background-color: #D7D7D7;
    position: relative;
}

.main-container{
    position: relative;;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: auto;
    top: 0;

    left: 0;
    position: absolute;

}
.header{
    width: 100%;
    background-color: #000C41;
    height: 40px;

    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);

}
a{
    text-decoration: none;
}
.p1{
float: right;
}
.icon {
    float: right;
    top: 0;
    right: 0;
    margin-top: 10px;
}
.icon img {
    
    width: 20px;
    height:20px;
}



.leftpannel{
     height: 1350px;
    width: 11.5%;
    margin-left: 0px;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 2px;
     background-color: #4770B0;
     color:white;
    float: left;

}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;

    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=6);

    background-color:#4770B0;
    height:26px;
    bottom: 0;
    width: 100%;
    left: 0;
}
.footer p{

    font-family: SketchRockwell-Bold, verdana;
    font-style: bold;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin: 0px;
    border-top: 2px solid #5A8788;

}

.loader{
    position: absolute;
    top: 110px;
    z-index: 999999;
    left:350px;

}
.contentpannel {
     height: 100%;
     float: left;
    width: 62%;
    margin-left: 10px;
    color:red;

    margin-top: 2px;
    text-align: center;
 
}
.rightpannel {
     height: 1350px;
     float: right;
    width: 25%;
    margin-left: 0px;
    margin-top: 2px;

     background-color: #4770B0;
    }
    .clearfloat{
        clear: both;
    } 
    .button-class{
    position: relative;
    display:block;
    padding:14px;
    width: 100%;
    border-bottom:1px solid #e5e5e5;

    border-top:none; 
    
     background-color: #335C9C;
    text-decoration:none;
    color:white;
    font-size: 0.6em;
     width:auto;
}
   .button-class:hover{
    width: 84%;

       background-color: #1F4888;
       border-right:1px solid  white;
       border-radius: 4px;
   }
   .button-class1:hover{
   
       background-color: black;
   }

.button-class1{
    font-size: 0.6em;
    position: relative;
    display: block;
     width:auto;
    padding:14px;
   
    text-decoration:none;
}

.links{
        display:inline-block;
        width: 100%;
        float:left;
}
.dashboard-button-class{
      position: relative;
    display:block;
    padding:7px;
    width: 100%;
    border-bottom:1px solid white;

    border-top:none; 
    
     background-color: #eee;
    text-decoration:none;
    color:black;
    font-size: 0.6em;
     width:auto;
    font-size:1em;background-color:black;color:white;font-weight:bold;
}
a{
    color: #ededed;

}

.notification-a img {
    margin:150px;
  
    height: 400px;
    width:400px;
}

.a1{
    color: white;
    font-size: 13em;
    font-style: italic;
    text-decoration: none;
}
.anchor-noti{
position: absolute;
top: 240px;
left:470px;
font-size: 0.7em;
font-weight: normal; 
}